* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(47, 127, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.head {
    color: black;
    text-align: center;
    margin: 10px;
    margin-bottom: 25px;
}

.MainCcontainer {
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.Month {
    height: 20%;
    background-color: rgb(23, 24, 63);
}

.Month h1 {
    text-align: center;
    color: white;
}

.Date h1 {
    text-align: center;
    font-size: 100px;
    color:  rgb(23, 24, 63);
}

.Date {
    margin: 10px;
}

.Day h2 {
    color: black;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.Year h2 { 
    text-align: center;
}

footer {
    position: absolute;
    bottom: 10px;
    color: white;
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
}